secrets.yml


# demo microshift-disconnected
demos/microshift-disconnected/files/others/usb-contents/*
*.pem
rhde_automation_encryption_key
demos/microshift-disconnected/files/others/upgrades/usb/v2/*
demos/microshift-disconnected/files/others/upgrades/usb/v3/*



!**/.keep

# demo rhde-aap
aap.tar.gz
manifest.zip
microshift-embedded-images.toml
.terraform*
terraform.log
terraform.tfstate*