#!/bin/bash

RHDE_TOKEN="{{ usb_automation_token }}"
RHDE_SCRIPT="rhde.sh"

while true; do
    for usb_device in /run/media/*/* /media/*/*; do
        if [ -d "{{ usb_device }}" ]; then
            if [ -f "{{ usb_device }}/rhde.tkn" ]; then
                if grep -q "$RHDE_TOKEN" "{{ usb_device }}/rhde.tkn"; then
                    cp -r "{{ usb_device }}/rhde" /tmp/rhde-automation
                    if [ -f "/tmp/rhde-automation/$RHDE_SCRIPT" ]; then
                        sudo /bin/bash "/tmp/rhde-automation/$RHDE_SCRIPT"
                    fi
                fi
            fi
        fi
    done
    sleep 5
done