---
service_info:
  initial_user: ~
  files: ~
  commands: 
  - command: systemctl
    args:
    - daemon-reload
  diskencryption_clevis: 
  - disk_label: /dev/vda4
    binding:
      pin: tpm2
      config: "{}"
    reencrypt: true
  additional_serviceinfo: ~
bind: "0.0.0.0:{{ fdo_serviceinfo_api_port | default('8083') }}"
device_specific_store_driver:
  Directory:
    path: /etc/fdo/stores/serviceinfo_api_devices
service_info_auth_token: {{ fdo_service_info_token | default('R3dh4t1!') }}
admin_auth_token: {{ fdo_admin_token | default('R3dh4t1!') }}