[Unit]
Description=Gitea Container
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a gitea
ExecStop=/usr/bin/podman stop -t 10 gitea

[Install]
WantedBy=multi-user.target
